* {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}
a {
	text-decoration: none;
}

/* NAVBAR */
.navbar{
	position: fixed;
	background-color: rgb(71, 182, 204); 
	width: 100%;
	height: 11vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	transition: top 1s, opacity 1s;
	z-index: 100;
}


.navbar-link {
	display: flex;
	flex-direction: column;
  	justify-content: center;
  	align-items: center;
  	transition: opacity 0.2s;
}

.navbar-link:hover {
	opacity: 0.4;
}

.navbar-link i{
	 font-size: 2.5rem;
	 padding: 5%;
	 color: #551A8B;
}

.navbar-link input{
	border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #551A8B;
    font-size: 1em;
}
/* NAVBAR END*/

body{
	position: relative;
}

.container{
	position: absolute;
	top: 15vh;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.info{
	width: 30vw;
	display:flex;
	flex-direction: column;
	justify-content: center;
}

.info div{
	padding: 7px;
}

.info a{
	font-size: 1.3em;
}
